@model Entities.Concrete.DisasterType

@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid bg-secondary">

    <div class="row bg-dark d-flex ">
        <div class="col-4">
            <div class="text-light m-3">
                <span class="font-weight-bold " style="font-size:1.4em;font-family:Arial, Helvetica, sans-serif">Afet Giriş</span>
            </div>
        </div>
    </div>



    <div class="row d-flex mt-4">

        <div class="col-md-2 d-flex">
            <span>Seri No</span>
        </div>

        <div class="col-md-2">
            <form class="form-group p-0 mh-100 mw-100" method="post">
                <input type="text" placeholder="Seri No" name="SerialNumber" class="form-control" />
            </form>
        </div>

        <div class="col-md-2 align-items-start">
            <span>GLIDE No</span>
        </div>

        <div class="col-md-2 align-items-start">
            <form class="form-group" method="post">
                <input type="text" placeholder="Glide No" name="GlideNumber" class="form-control" />
            </form>
        </div>

    </div>



    <div class="row d-flex mt-4">
        <div class="col-md-2">
            <span>Başlangıç Tarihi</span>
        </div>
        <div class="col-md-2">
            <form class="form-group" method="post">
                <input type="text" placeholder="" name="StartDate" class="form-control" />
            </form>
        </div>
        <div class="col-md-2">
            <span>Bitiş Tarihi</span>
        </div>
        <div class="col-md-2">
            <form class="form-group" method="post">
                <input type="text" placeholder="" name="EndDate" class="form-control" />
            </form>
        </div>
        <div class="col-md-2">
            <span>Süre(Gün)</span>
        </div>
        <div class="col-md-2">
            <form class="form-group" method="post">
                <input type="text" placeholder="" name="NumberOfDays" class="form-control" />
            </form>
        </div>

    </div>

    <div class="row d-flex mt-4">
        <div class="col-md-2">
            <span>Afet Türü</span>
        </div>
        <div class="col-md-2">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <div class="form-group">
                    @*@Html.Label("Afet Türü")*@
                    @Html.DropDownListFor(x => x.Id, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })

                </div>

            }
        </div>

        <div class="col-md-2">
            <span>İl</span>
        </div>
        <div class="col-md-2">
            <form class="form-group" method="post">
                <input type="text" placeholder="" class="form-control" />
            </form>
        </div>
        <div class="col-md-2">
            <span>İlçe</span>
        </div>
        <div class="col-md-2">
            <form class="form-group" method="post">
                <input type="text" placeholder="" class="form-control" />
            </form>
        </div>
    </div>


    <div class="row d-flex mt-4">
        <div class="col-md-2">
            <span>Köy</span>
        </div>
        <div class="col-md-2">
            <form class="form-group" method="post">
                <input type="text" placeholder="" class="form-control" />
            </form>
        </div>
        <div class="col-md-2">
            <span>Mahalle</span>
        </div>
        <div class="col-md-2">
            <form class="form-group" method="post">
                <input type="text" placeholder="" class="form-control" />
            </form>
        </div>
        <div class="col-md-2">
            <span>Belde/Mevki</span>
        </div>
        <div class="col-md-2">
            <form class="form-group" method="post">
                <input type="text" placeholder="" class="form-control" />
            </form>
        </div>
    </div>

    <div class="row d-flex mt-4">
        <div class="col-md-2">
            <span>Neden</span>
        </div>
        <div class="col-md-2">
            <form class="form-group" method="post">
                <input type="text" placeholder="" class="form-control" />
            </form>
        </div>
        <div class="col-md-2">
            <span>Enlem</span>
        </div>
        <div class="col-md-2">
            <form class="form-group" method="post">
                <input type="text" placeholder="" name="Latitude" class="form-control" />
            </form>
        </div>
        <div class="col-md-2">
            <span>Boylam</span>
        </div>
        <div class="col-md-2">
            <form class="form-group" method="post">
                <input type="text" placeholder="" name="Longitude" class="form-control" />
            </form>
        </div>
    </div>

    <div class="row d-flex mt-4">
        <div class="col-md-2">
            <span>Neden Açıklama</span>
        </div>
        <div class="col-md-8">
            <form class="form-group" method="post">
                <input type="text" placeholder="" class="form-control" />
            </form>
        </div>
    </div>

    <div class="row d-flex mt-4">
        <div class="col-md-2">
            <span>Etkilediği Alanlar</span>
        </div>
        <div class="col-md-8">
            <form class="form-group" method="post">
                <input type="text" placeholder="" class="form-control" />
            </form>
        </div>
    </div>

    <div class="row d-flex mt-4">
        <div class="col-md-2">
            <span>Kaynak</span>
        </div>
        <div class="col-md-8">
            <form class="form-group" method="post">
                <input type="text" placeholder="" class="form-control" />
            </form>
        </div>
    </div>

    @*<div class="row d-flex mt-4">
            <div class="col-md-2">
                <span>ResimId</span>
            </div>
            <div class="col-md-8">
                <form class="form-group" method="post">
                    <input type="text" placeholder="" name="DisasterImgId" class="form-control"/>
                </form>
            </div>
        </div>*@
<div class="row d-flex">
    @*<form class="form-group" method="post">

        </form>*@
    <div class="col-md d-flex justify-content-end">
        <button class="btn btn-primary">Kaydet</button>
    </div>
    
</div>
   

</div>